<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="http://localhost:8080/static/index.css"
		/>
		<title>GO-Web</title>
	</head>
	<body>
		<nav>
			<a href="/logout">Logout</a>
		</nav>
		<main>
			<h1>{{ .Title }}</h1>

			{{ if .DisplayForm }}
			<div id="update-form">
				<form action="/" method="POST">
					<textarea name="update"></textarea>
					<div>
						<button type="submit">Post Update</button>
					</div>
				</form>
			</div>
			{{ end }} {{ range .Updates }}
			<div class="update">
				<div>
					<strong
						><a href="{{ .GetUser.GetUsername }}">{{ .GetUser.GetUsername }}</a>
						wrote:
					</strong>
				</div>
				<div>{{ .GetBody }}</div>
			</div>
			{{ end }}
		</main>
	</body>
</html>
